<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141054708101-vdkj3s6arll3mv75luqh8jesfej4chvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141054708101-vdkj3s6arll3mv75luqh8jesfej4chvs</string>
	<key>API_KEY</key>
	<string>AIzaSyBF1QCFmpm_R0n57WwGYOowHQxPTmtkUEk</string>
	<key>GCM_SENDER_ID</key>
	<string>141054708101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreyanish.yourirctc</string>
	<key>PROJECT_ID</key>
	<string>yourirctc-3d6c6</string>
	<key>STORAGE_BUCKET</key>
	<string>yourirctc-3d6c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141054708101:ios:5ca7b8170a2ae83a121cec</string>
</dict>
</plist>